<%= form_for(@template) do |f| %>

  <h3><%= t(:new_template) %></h3>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.text_area :content, class: 'tinymce' %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit class: 'button regular radius' %>
  </div>
<% end %>
