<%= form_for(@template) do |f| %>

  <h3><%= t(:new_template) %></h3>

  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.text_area :content, class: 'tinymce' %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit class: 'button regular radius' %>
  </div>
<% end %>
