<div class="row collapse">
  <div class="medium-12 columns">
    <div class="panel">
      <div class="row collapse">
        <div class="medium-9 columns">
          <h4 class="filter-title no-m pts"><%= t(:templates) %></h4>
        </div>
        <div class="medium-3 columns">
          <%= link_to t(:new_template), new_template_path, class: 'no-m tiny button right radius' %>
        </div>
      </div>
    </div>


    <table class="full">
      <thead>
        <tr>
          <th><%= ::Template.human_attribute_name :title %></th>
          <th><%= ::Template.human_attribute_name :description %></th>
          <th><%= ::Template.human_attribute_name :content %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><%= link_to template.title, edit_template_path(template) %></td>
            <td><%= template.description %></td>
            <td><%= truncate(template.content, length: 30) %></td>
            <td>
              <%= link_to template_path(template), method: :delete,
                'data-confirm' => t(:are_you_sure) do %>
                <%= fa_icon 'trash' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination-centered">
      <%= will_paginate @templates %>
    </div>
  </div>
</div>
